@page "/Account/Logout"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Logout> Logger

<PageTitle>Log out</PageTitle>

<h1>Log out</h1>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (SignInManager.IsSignedIn(HttpContext.User))
        {
            await SignInManager.SignOutAsync();
            Logger.LogInformation("User logged out.");
        }
        RedirectManager.RedirectTo("/");
    }
}