@page "/Account/Logout"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<h3>Logout...</h3>

@code {
    protected override void OnInitialized()
    {
        httpContextAccessor.HttpContext.SignOutAsync(IdentityConstants.ApplicationScheme);
        base.OnInitialized();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        navigationManager.NavigateTo("/");
    }
}