@implements IDisposable
@using BlazorClaw.Server.Components.Account

@if (!string.IsNullOrEmpty(Message))
{
    var statusMessageClass = Message.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [Inject]
    private IdentityRedirectManager RedirectManager { get; set; } = default!;

    protected override void OnInitialized()
    {
        RedirectManager.Redirected += OnRedirected;
    }

    private void OnRedirected(object? sender, IdentityRedirectManager.RedirectedEventArgs e)
    {
        Message = e.Message;
        StateHasChanged();
    }

    public void Dispose()
    {
        RedirectManager.Redirected -= OnRedirected;
    }
}